.chart{
    display: flex;
    justify-content: center;
    width: 85%;
    min-width: 1000px;
}
@media(max-width: 770px){
    .chart{
        width: 100%; 
        min-width: 300px;
    }
}

.wrapper {
}